/* Estilos gerais */
body {
    font-family: Arial, sans-serif;
    margin: 10px; /* Corrija o valor da margem (adicionar "px") */
    padding: 10px; /* Corrija o valor do preenchimento (adicionar "px") */
}

header {
    background-color: ff3700;
    color: rgb(255, 255, 255);
    padding: 1rem;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas: "logo" "nav"; /* Adicione esta linha para definir as áreas do grid */
    /* Remova as seguintes linhas, pois flex-direction e align-items não são necessários em um grid */
    /* flex-direction: column; 
    justify-content: center;
    align-items: center; */
    text-align: center; /* Remova a letra "d" a mais no final */
}

nav ul {
    list-style: none;
    /* Corrija o valor de display para "flex" em vez de "center" */
    display: flex;
    gap: 1rem;
}

nav a {
    text-decoration: none;
    color: black;
    transition: color 0.5s;
}

nav a:hover {
    color: #ff3700; /* Corrija a cor de hover para #ff3700 */
}

main {
    padding: 1rem;
}

header img,
footer {
    display: block;
    margin: 0 auto;
    /* Remova a propriedade "display" do elemento <footer> */
}

.header-content {
    margin: 40px;
    /* Para espaçamento, é recomendável usar "margin" ao invés de "padding" no container */
}

/* Estilos para o texto do portfólio */
.portfolio-item {
    lighting-color: #ff3700;
}
